    
    </main>
    <script src="/js/calendar.js"></script>
    <script defer src="/js/booked.js"></script>
    <script defer src="/js/reservation.js"></script>
    <script defer src="/js/verify.js"></script>
</body>
</html>