<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Decathlon greece Click-In shop reservation">
    <meta name="description" content="Προγραμματίστε εύκολα και γρήγορα την επισκεψή σας στα καταστήματά μας">
    <meta name="robots" content="index, follow">
    <meta name="og:title" content="Decathlon greece Click-In shop reservation">
    <meta name="og:description" content="Προγραμματίστε εύκολα και γρήγορα την επισκεψή σας στα καταστήματά μας">
    <meta property="og:type" content="Booking-app"/>
    <meta property="og:image" content="/decathlon-logo.png" />
    <meta property="og:url" content="https://decathlon-booking.herokuapp.com/"/>
    <meta name="google-site-verification" content="cwhZqAw57jKO5yRtvvDvYJpmZf0fYIf60bUsJPC_jGs" />
    <link rel="canonical" href="https://decathlon-booking.herokuapp.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" type="image/png" href="/decathlon-logo.png" sizes="64x64">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>Reservation Decathlon</title>
</head>
<body>
<div class="data-alerts"></div>
    <header class="nav-header">
        <div class="logo-placeholder">
            <img class="logo-img" src="/dkt-logo.png" alt="decathlon Logo">
        </div>
        <h4>Click-away & Click-in shop online booking</h4>
        <div>
        </div>
    </header>
    <div class="notice">Παρακαλούμε να τηρείτε το ωράριο επίσκεψής. Υπενθυμίζουμε πως οι κρατήσεις είναι προσωπικές και κάθε άτομο πρέπει να έχει ονομαστική κράτηση κατά την επισκεψή του στο κατάστημα.</div> 
    <main class="root">